th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  background-color: white;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(0px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 50px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

td {
  text-align: center;
}