body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

.header-title {
    color: #1E3C66;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0 auto;
    background-color: #FFFFFF; #FFDD00
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pyarg-button {
    color: #152A47;
    text-align: left;
    background-color: #7BE7FF;
    border-color: #7BE7FF;
    width: 100%;
}

.small-pyarg-button {
    color: #FFFFFF;
    text-align: center;
    background-color: #152A47;
    border-color: #152A47;
    width: 40%;
}

h4 {
    color: #152A47;
}

h4.error {
    color: red;
}

.graph-style {
    border-radius: 8px;
    border: 2px solid #152A47;
    margin-right: 25px;
}

div.output {
    text-align: left;
    margin-left: 10px;
    padding: 10px;
    flex: 1;
}

div.row-container {
    display: flex;
    flex-direction: row;
}

div.padded-item {
    padding: 10px;
    flex: 1;
}

div.button-container {
    text-align: left;
    margin-left: 10px;
}

textarea.abstract-input {
    height: 300px;
    margin-top: 10px;
}

textarea.aspic-input {
    height: 150px;
    margin-top: 10px;
}

img {
    border: none;
    width: 30%;
    max-width: 500px;
    align: right;
    margin-right: 20px;
}

/* Table of contents, from https://codepen.io/chriddyp/pen/bWLwgP.css
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Buttons
- Forms
*/

/* PLotly.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is 1001 by default
 * https://github.com/plotly/plotly.js/blob/7e4d8ab164258f6bd48be56589dacd9bdd7fded2/src/css/_modebar.scss#L5
 * In case a dropdown is above the graph, the dropdown's options
 * will be rendered below the modebar
 * Increase the select option's z-index
 */

/* This was actually not quite right -
   dropdowns were overlapping each other (edited October 26)

.Select {
    z-index: 1002;
}*/


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #7BE7FF; /* Text real button */
  text-align: left;
  font-size: 12px;
  font-weight: 1000;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #152A47;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #B8DE4F;}
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #B8DE4F;
  border-color: #7BE7FF;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 6px;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
